<?php

require_once __DIR__.'/vendor/classloader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Git\\Tests'                 => __DIR__.'/tests',
    'Git'                        => __DIR__.'/src',
));

$loader->register();