<?php

// PHP Git Repository Bootstrap

require_once __DIR__.'/Exception/GitRuntimeException.php';
require_once __DIR__.'/Exception/GitInvalidArgumentException.php';
require_once __DIR__.'/GitObject.php';
require_once __DIR__.'/Blob.php';
require_once __DIR__.'/Tree.php';
require_once __DIR__.'/User.php';
require_once __DIR__.'/Command.php';
require_once __DIR__.'/Commit.php';
require_once __DIR__.'/Repository.php';
require_once __DIR__.'/File.php';
