<?php

// Set to true if you want to see all git commands and outputs
// define('GIT_DEBUG', true);

// The git executable
// define('GIT_EXEC', '/usr/bin/git');             // Linux
// define('GIT_EXEC', 'command git');              // Mac
// define('GIT_EXEC', 'C:\Program Files\Git\bin'); // Windows
